@inherits LayoutComponentBase

<RadzenHeader>
    <ChildContent>
        <h1 class="app-title">Feeder</h1>
    </ChildContent>
</RadzenHeader>

<RadzenSidebar>
    <ChildContent>
        <NavMenu />
    </ChildContent>
</RadzenSidebar>

<div style="width:100%">
    <RadzenBody>
        <ChildContent>
            <RadzenContentContainer Name="main">
                @Body
            </RadzenContentContainer>
        </ChildContent>
    </RadzenBody>
</div>

<RadzenFooter>
    <ChildContent>
        <RadzenLabel Text="🐴 Feeder - JOHNNYbeGOOD">
        </RadzenLabel>
    </ChildContent>
</RadzenFooter>
