@inherits LayoutComponentBase

<nav class="navbar is-white">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item brand-text" href="/">
                🐴 Feeder
            </a>
            <div class="navbar-burger burger" data-target="navMenu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <div class="columns">
        <div class="column is-3">
            <NavMenu />
        </div>
        <div class="column is-9">
            @Body
        </div>
    </div>
</div>

<footer class="footer">
    <div class="content has-text-centered">
        <p>🐴 Feeder - JOHNNYbeGOOD</p>
    </div>
</footer>
