@inherits LayoutComponentBase

<Bar Background="Background.Light">
    <BarBrand>
        <BarItem>🐴 Feeder</BarItem>
        <BarToggler>
            <span></span>
            <span></span>
            <span></span>
        </BarToggler>
    </BarBrand>
    <BarMenu>
        <BarStart>
            <BarLink To="" Match="Match.All">Home</BarLink>
            <BarLink To="Schedule">Schedule</BarLink>
            <BarLink To="log">Log</BarLink>
        </BarStart>
        <BarEnd>
            <BarLink To="status">Status</BarLink>
        </BarEnd>
    </BarMenu>
</Bar>

<div class="app">
    <div class="container">
        @Body
    </div>
</div>
