<aside class="menu is-hidden-mobile">
    <ul class="menu-list">
        <li><a class="is-active">Home</a></li>
        <li><a>Schedule</a></li>
        <li><a>Status</a></li>
    </ul>
</aside>
