@page "/feeder"
@inject JOHNNYbeGOOD.Home.Client.Services.FeedingManager feedingManager

<h1>Pony feeder</h1>
<p><b>Status:</b> @_status</p>
<button @onclick="Feed">Feed</button>

@code {
    private string _status = "ready";

    private async Task Feed()
    {
        _status = "opening";
        await feedingManager.Feed();
        _status = "ready";
    }
}