@page "/"

<section class="hero is-info welcome is-small">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                99 hours until next feeding
            </h1>
            <h2 class="subtitle">
                Laste feeding at 3 hours ago
            </h2>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="control">
            <button type="submit" class="button is-link has-text-weight-medium is-medium">Feed now</button>
        </div>
    </div>
</section>

