@page "/"
@using JOHNNYbeGOOD.Home.Api.Contracts
@using JOHNNYbeGOOD.Home.Api.Contracts.Models
@inject IFeedingService service

@if (feedingSummary == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <section class="hero is-info welcome is-small">
        <div class="hero-body">
            <div class="container">
                @if (feedingSummary.NextFeedingTime.HasValue)
                {
                    <h1 class="title">@feedingSummary.NextFeedingTime.Value.ComparedToNow() next feeding</h1>
                }
                else
                {
                    <h1 class="title">No next feeding scheduled</h1>
                }

                @if (feedingSummary.PreviousFeedingTime.HasValue)
                {
                    <h2 class="subtitle">Last feeding: @feedingSummary.PreviousFeedingTime.Value.ComparedToNow() ago</h2>
                }
                </div>
        </div>
    </section>
}

<section class="section">
    <div class="container">
        <div class="control">
            <button type="submit" class="button is-link has-text-weight-medium is-medium">Feed now</button>
        </div>
    </div>
</section>

@code {
    private FeedingSummaryResponse feedingSummary;

    protected override async Task OnInitializedAsync()
    {
        feedingSummary = await service.GetSummaryAsync();
    }

}